* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Maven Pro", sans-serif;
}
::before, ::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html {
  min-height: 100%;
}
body {
  background-color: rgb(238, 247, 250);
}
:root {
  --blue-color: #3f43e4;
}
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  margin-bottom: 40px;
}
#error-text {
  /* background-color: red;
  width: 100%;
  height: 10px; */
  color: darkred;
  font-weight: 500;
  text-align: center;
  padding-top: 20px;
}
                             /*  Nav Bar   */
                            /* ********** */
nav {
  background-color: #fff;
  padding: 18px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-jobs-app {
  font-size: 35px;
  color: #000;
  /* color: #fe7062; */
}
.nav-jobs-app span, .home-jobs-app span {
  color: var(--blue-color);
}
.dashboard {
  background-color: var(--blue-color);
  color: #fff;
  padding: 5px 6px;
  border-radius: 4px;
  font-size: 16px;
}
.dashboard.active {
  /* user-select: none; */
  display: none;
}
.user-name-cont {
  font-size: 20px;
  font-weight: 600;
  display: flex;
} 
.user-name-cont span {
  color: var(--blue-color);
}
.user-name-cont button {
  margin-left: 15px;
  background-color: var(--blue-color);
  color: #fff;
  border-radius: 4px;
  padding: 3px 6px;
  font-size: 14px;
  cursor: pointer;
}
                            /*  Page Not Found  */
                            /* **************** */
.page-not-found-cont {
  /* background-color: green; */
  width: 80%;
  margin: 20px auto;
  text-align: center;
}
.page-not-found-cont h1 {
  margin-bottom: 20px;
}
.page-not-found-cont a {
  background-color: var(--blue-color);
  color: #fff;
  padding: 5px 8px;
  border-radius: 4px;
}
                          /*  Home Page */
                          /* ********** */
.home-jobs-app {
  font-size: 45px;
  margin: 0;
}
.home-cont {
  width: 85%;
  margin: 40px auto;
  /* background-color: lightgrey; */
  display: flex;
  justify-content: space-between;
}
.home-content {
  /* background-color: red; */
}
.home-content-par {
  /* background-color: green; */
  width: 85%;
  margin-top: 15px;
  text-align: justify;
}
.btn-cont {
  width: 175px;
  display: flex;
  justify-content: space-between;
}
.home-content-btn {
  margin-top: 30px;
  font-size: 17px;
  background-color: var(--blue-color);
  padding: 5px 8px;
  border-radius: 4px;
;
}
.home-content-btn a {
  color: #fff;
}

                          /*  Login Page */
                          /* ********** */
.login-cont {
  background-color: #fff;
  width: 550px;
  margin: 40px auto;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 5px 25px rgb(1 1 1 /10%);
}
.login-title {
  text-align: center;
  margin-bottom: 20px;
}
.login-form {
  /* background-color: red; */
  display: flex;
  flex-direction: column; 
}
.login-form label {
  margin-bottom: 10px;
}
.login-form input, .status-select {
  margin-bottom: 15px;
  padding: 6px 0;
  text-indent: 5px;
  border: 0.5px solid var(--blue-color);
  border-radius: 4px;
}
.login-form button {
  padding: 4px 0;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: var(--blue-color);
  border-radius: 4px;
  cursor: pointer;
}
.not-a-member {
  text-align: center;
  margin-top: 20px;
}
.not-a-member button {
  border: none;
  background-color: transparent;
  color: var(--blue-color);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
                          /*  Dashboard */
                          /* ********** */
.jobs-cont {
  /* background-color: red; */
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  gap: 40px;
  width: 90%;
  margin: 0 auto;
}
.jobs-length {
  text-align: center;
  margin-bottom: 30px;
}
.jobs-length span {
  color: var(--blue-color);
}
.jobs {
  width: 370px;
  height: 130px;
  /* background-color: greenyellow; */
  /* margin: 10px; */
  display: flex;
  justify-content: space-between;
  box-shadow: 0 5px 25px rgb(1 1 1 /10%);
}

.jobs-left-side {
  /* background-color: lightblue; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 14px 0;
  padding-left: 10px;
}
.jobs-right-side {
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
#position-text {
  /* padding-top: 7px; */
  font-weight: 500;
  font-size: 18px;
}
#company-text {
  width: fit-content;
  background-color: #e3e3e3;
  padding: 3px 6px;
  border-radius: 4px;
}
.jobs-edit-btn {
  margin-right: 10px;
  border: none;
  background-color: transparent;
  color: var(--blue-color);
  font-weight: 500;
  cursor: pointer;
}
.jobs-dlt-btn {
  /* margin-right: 10px; */
  border: none;
  background-color: transparent;
  color: darkred;
  font-weight: 500;
  cursor: pointer;
}
#date-text {
  background-color: #cfcfec;
  padding: 4px 7px;
  font-size: 14px;
  border-radius: 4px;
}
#status-text {
  padding-bottom: 14px;
  padding-right: 10px;
}
                          /*  Update */
                          /* ******* */
.status-select {
  /* padding: 5px 0; */
  width: fit-content;
}
.update-cont {
  padding-bottom: 60px;
  position: relative;
}
#success-text {
  position: absolute;
  bottom: 15px;
  left: 230px;
  /* margin: 20px auto 0; */
  /* margin-top: 20px; */
  padding: 4px 7px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  background-color: green;
  width: fit-content;
}

                          /*  Footer */
                          /* ******* */
footer {
  margin-top: auto;
  background-color: #3f43e4;
  text-align: center;
  color: #fff;
  padding: 30px 0;
}
footer p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}
footer p span {
  font-size: 17px;
  font-style: italic;
}
footer a {
  color: #fff;
}